In [1]:
import numpy as np
from pandas import Series, DataFrame

import pandas as pd

In [2]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])

In [3]:
dframe1 = DataFrame(arr,index=['A','B'], columns=['One','Two','Three'])

In [4]:
dframe1

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [7]:
dframe1.sum()
# Sums up all the values of each column, it ignore null values in pandas

One      1.0
Two      5.0
Three    4.0
dtype: float64

In [8]:
dframe1.sum(axis=1)
# Sum across

A    3.0
B    7.0
dtype: float64

In [9]:
dframe1.min()
# Find the minimum value in each column

One      1.0
Two      2.0
Three    4.0
dtype: float64

In [11]:
dframe1.idxmin()
# This will output the index where the column is the minimum .idxmin()

One      A
Two      A
Three    B
dtype: object

In [12]:
# for maximum do the .idxmax()
dframe1.idxmax()

One      A
Two      B
Three    B
dtype: object

In [13]:
dframe1.cumsum()
#cum sum is an accumulation sum

   One  Two  Three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [14]:
dframe1.describe()
# describe is going to give us stats on our data frame

       One       Two  Three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [21]:
ser1 = Series(['w','w','x','y','z','w','x','y','x','a'])
ser1

0    w
1    w
2    x
3    y
4    z
5    w
6    x
7    y
8    x
9    a
dtype: object

In [22]:
ser1.unique()
# Just show the unique value

array(['w', 'x', 'y', 'z', 'a'], dtype=object)

In [23]:
ser1.value_counts()
# show the count of the unique values

x    3
w    3
y    2
a    1
z    1
dtype: int64