In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd 

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
# Because there is more index than values, it will just add a NaN value
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','E','F','G'],fill_value=0)

#fill_value will add 0 to the new index's that is just added

A    1.0
B    2.0
C    3.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)

In [8]:
ranger

range(0, 15)

In [10]:
# method='ffill' will fill in the slots from the valid previous value 
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

# Remember this in order to create nice dframes

In [12]:
dframe

       col1      col2      col3      col4      col5
A  1.441567  2.008207  0.251301 -0.488046  0.462327
B -1.806556  1.060201  0.207318 -0.093055  1.206963
D  1.249548 -0.763653 -0.642267  0.597266  1.619304
E -0.154187  0.021985  0.207236 -0.046992  0.531253
F -0.377053  0.999038 -0.519857 -0.731472 -0.434764

In [14]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

# See how the new row "c" has NaN values

       col1      col2      col3      col4      col5
A  1.441567  2.008207  0.251301 -0.488046  0.462327
B -1.806556  1.060201  0.207318 -0.093055  1.206963
C       NaN       NaN       NaN       NaN       NaN
D  1.249548 -0.763653 -0.642267  0.597266  1.619304
E -0.154187  0.021985  0.207236 -0.046992  0.531253
F -0.377053  0.999038 -0.519857 -0.731472 -0.434764

In [15]:
new_columns = ['col1','col2', 'col3','col4', 'col5', 'col6']

In [16]:
dframe2.reindex(columns=new_columns)
# You have to call columns= as is

       col1      col2      col3      col4      col5  col6
A  1.441567  2.008207  0.251301 -0.488046  0.462327   NaN
B -1.806556  1.060201  0.207318 -0.093055  1.206963   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.249548 -0.763653 -0.642267  0.597266  1.619304   NaN
E -0.154187  0.021985  0.207236 -0.046992  0.531253   NaN
F -0.377053  0.999038 -0.519857 -0.731472 -0.434764   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A  1.441567  2.008207  0.251301 -0.488046  0.462327
B -1.806556  1.060201  0.207318 -0.093055  1.206963
D  1.249548 -0.763653 -0.642267  0.597266  1.619304
E -0.154187  0.021985  0.207236 -0.046992  0.531253
F -0.377053  0.999038 -0.519857 -0.731472 -0.434764

In [26]:
dframe.loc[['A','B','C','D','E','F'], new_columns]

/Users/randyhoang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  1.441567  2.008207  0.251301 -0.488046  0.462327   NaN
B -1.806556  1.060201  0.207318 -0.093055  1.206963   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.249548 -0.763653 -0.642267  0.597266  1.619304   NaN
E -0.154187  0.021985  0.207236 -0.046992  0.531253   NaN
F -0.377053  0.999038 -0.519857 -0.731472 -0.434764   NaN